
/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
  margin-bottom: 0;
  border-radius: 0;
  background-color: #146590;
}

/* Set gray background color and 100% height */
.sidenav {
    padding: 0px;
    background-color: #f1f1f1;
    bottom: 0px;
    position: fixed;
    right: 0px;
    top: 52px;
    width: 50px;
}

.sidenav-button {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 50px;
    height: 50px;
}

.sidenav-button:hover {
    background-color: #D1D1D1;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height:auto;}
}